src/main/mule/newmulegittest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="046ec855-eab3-4efc-a6f3-322091358b35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newmulegittestFlow" doc:id="72c2acfb-af36-4cf6-8a14-33925e39ad87" >
		<http:listener doc:name="Listener" doc:id="55fdbdb8-35f2-4337-be1f-5644028706d1" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="596d8218-f2b7-4dc1-882f-bd886653cc9d" />
		<logger level="INFO" doc:name="Logger" doc:id="3f4168db-4918-4528-b578-cc1fcd9f57b1" message="#[payload]"/>
	</flow>
</mule>
