src/main/mule/testmule2605.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="750de5ec-5ac2-4641-a3ef-5053d40ada46" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testmule2605Flow" doc:id="ec8e1cfd-1b29-4972-87d3-3ecd64c16298" >
		<http:listener doc:name="Listener" doc:id="ef227429-de0f-4643-b3a1-58cbe4aea154" config-ref="HTTP_Listener_config" path="/testMule"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="90005a40-7c4d-4699-a9b1-9cf4d2a4cd70" />
		<logger level="INFO" doc:name="Logger" doc:id="f2351b62-4add-41f1-9697-ff48094c024c" message="#[payload]"/>
	</flow>
</mule>
