checkinggit/src/main/mule/checkinggit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a565b14c-63f4-44a3-9b03-00edcb6035b5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="checkinggitFlow" doc:id="4d3aff4b-c71e-45ca-a150-82977a81763c" >
		<http:listener doc:name="Listener" doc:id="dd0d64bd-167f-486a-a7c1-eff159190615" config-ref="HTTP_Listener_config" path="/gitCheck"/>
		<set-payload value='#["gitCheck"]' doc:name="Set Payload" doc:id="d0024502-8e0d-43b5-8168-502fdd64e044" />
		<logger level="INFO" doc:name="Logger" doc:id="e70c008e-baf3-407b-b620-e1b65cd4a542" message="#[payload]"/>
	</flow>
</mule>
